@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --purple500: #281154;
  --purple300: #270084;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

section {
  scroll-margin: 50px;
}

.gift-section {
  scroll-margin: 120px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 8px;
}

header {
  background-color: var(--purple300);
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
}
.manu {
  display: none;
  gap: 5px;
  flex-direction: column;
}

.manuchild {
  height: 3px;
  width: 20px;
  background: white;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 6px 20px;
  border-radius: 15px;
  background: white;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
  color: #000;
}

nav ul li:hover {
  border-bottom: 2px solid #000;
  transition: 0.2s ease-in;
}

/* --Hero-Section--*/

.hero-section {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url(images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(4px);
  transform: scale(1.1);

  z-index: 0;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-section h1 {
  font-size: 96px;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.hero-section h3 {
  font-size: 32px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.hero-section p {
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

/* --Music-section--*/

.music-section {
  padding-top: 50px;
  background: var(--purple500);
}

.music-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
}

.iphone-ipad-image {
  margin-top: -400px;
  position: relative;
  top: 400px;
}

.primary-btn {
  background: var(--red600);
  color: white;
  border-radius: 8px;
}

.secondary-btn {
  background: var(--purple300);
  color: white;
  border-radius: 8px;
}

.about-music {
  padding-top: 500px;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 50px;
}

.video-section {
  position: relative;
  min-height: 800px;
  overflow: hidden;
  display: grid;
  place-items: center;
  text-align: center;
}

.video-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url(images/video.jpg);
  background-size: cover;
  background-position: center;

  filter: blur(4px);
  transform: scale(1.1);

  z-index: 0;
}

.video-section::after {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

.video-section .container {
  position: relative;
  z-index: 23;
  color: white;
}

.video-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -200px;
}

.hero-section,
.video-section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gift-section {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
}

.gift-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-footer {
  background-color: var(--purple600);
  padding: 20px;
}

.top-footer .container {
  display: flex;
  color: white;
  justify-content: space-around;
}

.top-footer h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.bottom-footer {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: black;
}

.top-footer h4 {
  cursor: pointer;
}

.gift-card img,
.mac-image img,
.iphone-ipad-image img {
  transition: 0.3s ease;
}

.gift-card img:hover,
.mac-image img:hover,
.iphone-ipad-image img:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    gap: 15px;
  }

  nav ul {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  .manu {
    display: flex;
    padding-right: 20px;
  }
  .manu:hover + nav ul {
    display: flex;
  }
  .hero-section {
    padding: 20px;
    min-height: 50vh;
  }

  .hero-section h1 {
    font-size: 60px;
  }

  .hero-section h3 {
    font-size: 24px;
  }

  .hero-section p {
    font-size: 16px;
  }

  .iphone-ipad-image img,
  .mac-image img,
  .gift-card img {
    width: 100%;
    height: auto;
  }

  .iphone-ipad-image {
    margin-top: -120px;
    top: 120px;
  }

  .about-music {
    padding-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .gift-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }

  .top-footer .container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .top-footer h4 {
    width: 60%;
    margin: 0 auto 10px;
  }

  .video-section {
    padding: 20px;
  }
}
